.idea
/configs/game-data.db

build/package/login/login*
build/package/world/world*
build/package/world-master/world-master*
build/package/zone/zone*
build/package/zone-master/zone-master*

/.env
/assets/*.shn
/databases/

!vendor/.keep
vendor/*
/deployments/data/grafana/grafana.db
/deployments/data/prometheus/data/
/data/

!output/.keep

output/*
/build/databases/
/build/output/
files
/internal/app/zone/output/
/internal/app/login/output/
